div {
  button {
    &:hover {
      scale: 1.3;
    }
  }
}

@mixin myBox($secondaryColor) {
  width: 130px;
  height: 50px;
  color: #f4f4f4;
  background-color: $secondaryColor;
}

.btn1 {
  @include myBox(#0e6cff);
}
.btn2 {
  @include myBox(#ff8700);
}
.btn3 {
  @include myBox(#4caf50);
}
